<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="iglesia, vi침a, prop칩sito">
	<!-- <meta http-equiv="refresh" content="10"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Iglesia Vi침a Prop칩sito</title>
	<link rel="icon" href="/VP-Web/Models/Images/icon.jpg"/> <!-- type="icon/png" -->
	<link rel="stylesheet" type="text/css" href="/VP-Web/Views/Style/template.css">
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonumous"></script>
</head>
<body>

	<header>
		<?php 

			include "Navegation/header.php"
		
		?>
	 </header>

	<section>
		<?php 
			$this -> link_page();
		?>
	</section>

	<footer>
		<?php 

			include "Navegation/footer.php"
		
		?>
	</footer>

</body>
</html>